@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}




/* for Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1% 1%;
}
.main-content h2 {
  font-size: 3.5rem;
  color: #193042;
}

section {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;
}

.card {
  background-color: #193042;
  color: white;
  padding: 2%;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  /* height: 300px; */
  width: 15%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card hr {
  width: 100%;
}
.card p {
  font-size: 1rem;
  padding: 2% 4%;
}
.card button {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s ease-out;
  cursor: pointer;
  border: none;

  margin-top: 2rem;
}
.card button:hover {
  background-color: #1b7a74;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(22, 22, 23, 0.4);
}
