@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

header {
  background-color: #193042;
  color: white;
  height: 70vh;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid white;
  padding: 5px 15px;
  margin-bottom: 50px;
}

.fav-and-store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 5px;
  max-height: 30px;
}

.text-size-btn {
  border: 0;
  color: white;
  font-size: 15px;
  background-color: transparent;
  padding: 0px 5px;
  cursor: pointer;
}
.fav-and-store-btn {
  display: flex;
  justify-content: center;
  color: white;
  gap: 4px;
  border: 0;
  border-radius: 50px;
  align-items: center;
  width: 80px;
  background-color: #1b7a74;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.fav-and-store-btn:hover {
  transform: scale(1.05);
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}
.nav-list {
  display: flex;
  width: 85%;
  justify-content: center;
  gap: 45px;
}

nav a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  background-color: #1b7a74;
  border-radius: 50px;
  transform: scale(1.05);
}

.disabled {
  color: rgba(128, 128, 128, 0.514);
  transition: background-color 0s ease, transform 0s ease;
}
.disabled:hover {
  background-color: transparent;
  cursor: no-drop;
  transform: scale(1);
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search input {
  border: 0;
  outline: 0;
  border-radius: 50px;
  height: 20px;
  width: 275px;
}
.search button {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: -55px;
  border: 0;
  outline: 0;
  width: 55px;
  padding-right: 50%px;
  border-radius: 20px;
  background-color: #1b7a74;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 55%;
}

.about-us-header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: justify;
  width: 50%;
}

.about-us-header h3,
p {
  margin: 0 0;
}

.about-us-header h3 {
  text-align: center;
  margin-right: 10%;
  margin-bottom: 1px;
  width: 120px;
  height: 60px;
  line-height: 60px;
  border-radius: 50px;
  background-color: #1b7a74;
}

/* for Main Content */
.main-content {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  padding: 3%;
  min-height: 60vh;
  text-align: justify;
}
.main-content h2 {
  font-size: 3.5rem;
  color: #193042;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.card {
  background: #193042;
  color: white;
  padding: 2%;
  max-width: 190px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.card hr {
  width: 100%;
}
.card p {
  font-size: 0.8rem;
  padding: 2% 4%;
}
.card button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s ease-out;
  cursor: pointer;
  border: none;
  margin-top: 2rem;
}
.card button:hover {
  background-color: #1b7a74;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(22, 22, 23, 0.4);
}

footer {
  background-color: #193042;
  color: white;
  padding: 3rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-about {
  text-align: justify;
  font-size: 20px;
}

.footer-about p {
  font-size: 10px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0% 4% 0% 7%;
  align-items: center;
}

.footer-links ul {
  list-style: none;
  padding: 2%;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #50c5b7;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
}

.footer-downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  width: 400px;
  gap: 10px;
  text-align: center;
}

.footer-downloads img {
  display: flex;
  width: 50%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
